@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/27179A_6_0.eot');
  src: url('../fonts/27179A_6_0.eot?#iefix') format("embedded-opentype"), url('../fonts/27179A_6_0.woff') format("woff"), url('../fonts/27179A_6_0.ttf') format("truetype");
}

$screen-large: 930px;
$screen-medium: 768px;
$screen-small: ($screen-medium)-1;

$max-width: 1160px;
$font-family: 'ProximaNova-Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.stylista-header {
  @include border-box;

  color: white;
  font-family: verdana;
  background: #333;
  width: 100%;
  position: relative;
  color: #fff;
  font-family: $font-family;
  font-size: 14px;
  line-height: 14px;
}

.stylista-nav-wrapper {
  margin: 0 auto;
  max-width: $max-width;

  @media (max-width: $screen-small) {
    min-height: 47px;
  }

  @media (min-width: $screen-medium) {
    height: 60px;
  }
}

// Helper class used with JS to toggle the nav items on narrow viewports
.stylista-responsive-nav {
  @media (max-width: $screen-small) {
    display: block !important;
  }
}

.stylista-hamburger {
  display: none;

  @media (max-width: $screen-small) {
    display: block;
    position: absolute;
    top: 3px;
    right: 20px;
    border: 0;
    background: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    font: bold 40px/1 'Times New Roman', 'Georgia', 'Verdana', sans-serif;
    cursor: pointer;

    &:hover, &:active, &:focus {
      color: #5BA697;
    }
  }
}

.stylista-logo {
  img {
    position: absolute;

    @media (max-width: $screen-large) {
      height: 60px;
      width: auto;
    }

    @media (max-width: $screen-small) {
      height: 47px;
      width: auto;
    }
  }
}

ul.stylista-menu {
  list-style: none;
  margin: 0 0 0 61px;
  padding: 0;

  @media (max-width: $screen-small) {
    display: none;
    margin-left: 51px;
  }

  li {
    float: left;
    border-right: 1px solid #545454;

    a {
      color: #DEDEDE;
      display: block;
      font-family: $font-family;
      padding: 12px 12px 13px;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;

      &:focus, &:hover {
        background: #2b2b2b;
        color: #DEDEDE;
      }

      @media (min-width: $screen-medium) {
        padding: 21px 17px 22px;
      }
    }

    @media (max-width: $screen-small) {
      float: none;
    }
  }

  @media (min-width: $screen-large+1) {
    margin-left: 125px;
  }
}

ul.stylista-menu.stylista-user-menu {
  float: right;

  @media (max-width: $screen-small) {
    float: none;
  }

  .leaf {
    border: medium none;

    a {display: inline-block;}

    @media (min-width: $screen-medium) {
      &.first a {
        background: none repeat scroll 0 0 transparent;
        border: 3px solid #5BA697;
        color: white;
        cursor: pointer;
        font-family: $font-family;
        font-size: 0.923em;
        height: auto;
        line-height: 1;
        margin-right: 10px;
        margin-top: 10px;
        padding: 10px;
        position: relative;
        text-transform: uppercase;
      }
    }
  }
}

.stylista-bloggerbar {
  @include border-box;

  font-family: 'ProximaNova-Regular', $font-family;
  font-size: 14px;
  margin: 0 auto;
  max-width: $max-width;
  background: #F6F6F6;
  min-height: 35px;
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;

  @media (max-width: $screen-small) {
    display: none;
  }

  @media (min-width: $screen-large+1) {
    padding-left: 134px;
  }

  ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 14px;

    li {
      float: left;
      margin: 0 24px 6px 0;

      a {text-decoration: none;}

      &.last {margin-right: 0px;}

      span {
        color: #777;
        text-transform: uppercase;
        position: relative;
        top: 0;
        margin-left: 10px;
        font-size: 12px;
      }
    }
  }

  @media (max-width: $screen-small) {
    ul {margin-left: 61px;}
    ul li {float: none;}
    li a {display: block; padding: 5px 0;}
    a .blogger {margin-left: 0;}
  }
}
